extends ./layout.jade


append content 
  include ./includes/nav.jade
    block navbar-form
      .btn-toolbar
        .btn-group(my-toggle="buttons")
          label.btn.btn-default(:class="{'active' : show_all == '0' }")
            input(type="radio",
                name="show_all", 
                value="0", 
                :checked="show_all"
                @click="switch_show_all")
            | 进行中
          label.btn.btn-default
            input(type="radio",
                name="show_none", 
                value="0")
            | 脑洞中
          label.btn.btn-default(:class="{'active' : show_all == '1' }")
            input(
              type="radio",
              name="show_all", 
              value="1", 
              :checked="show_all",
              @click="switch_show_all")
            | 全部

        .btn-group
          .btn.btn-default(@click="add_task") 
            i.glyphicon.glyphicon-file
            span 新增项目

  #main
    .container-fluid(v-for="task in tasks")
      include ./includes/task.jade

  include ./includes/task_edit.jade
  include ./includes/task_progress_edit.jade


append css
  link(href='./skin/app.less',rel="stylesheet",type="text/css")

append js
  script(src="//cdn.bootcss.com/require.js/2.3.4/require.min.js",data-main='./source/app.js')